* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./Background.png);
}

main{
  display: flex;
  position: relative;
}

.frame-div{
  background-color: #013243;
  margin: 0;
  width: 50%;
  padding: 10px;
}

.frame-divimg{
  /* width: 50%;
  height: 100%; */
  margin-right: auto;
}

.login-slice{
  background-color: white;
}

.link{
  border: 10px solid red;
  width: 500px;
  display: block;
}