* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./Background.png);
}

main{
  display: flex;
}

/* .frame-div{
  background-color: #013243;
  margin: auto;
  width: 50%;
  padding: 10px;
} */
/* 
.frame-divimg{
  width: 60%;
  height: 60%;
  margin-right: auto;
}

.login-slice{
  background-color: white;
} */