* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to right,red,orange,yellow); */
  background-image: url(./Background.png);
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}

main {
  display: flex;
  justify-content: center;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame-div {
  background-color: #013243;
  width: 100%;
  height: 63vh;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
  position: relative;
}

.frame-div > h1 {
  font-size: 1.8rem;
  text-align: center;
  margin: 2rem 0 .5rem 0;
  color: #FFF;
}

.frame-div > p {
  text-align: center;
  color: #FFF;
  opacity: .5;
}

.frame-divimg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

.login-slice {
  background-color: white;
  width: 100%;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.inside-form {
  width: 80%;
  margin: 2rem auto 0;
}

.inside-form > .title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.inside-form fieldset {
  border: none;
}

.inside-form label[for=email],
.inside-form label[for=password] {
  font-size: .8rem;
  font-weight: 700;
}

.inside-form input[id=email], 
.inside-form input[id=password] {
  margin-top: .7rem;
  padding: .7rem 1rem;
  width: 100%;
}

.inside-form input[type=checkbox] {
  margin-right: .9rem;
}

.inside-form span {
  border: 1px solid red;
}

.inside-form span strong {
  border: 2px solid blue;
}